*, *::after, *::before {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --grid-text: clamp(0.5rem, 4vh, 2rem);
    --answer-text: clamp(0.5rem,3vh,4rem);
}

body {
    width: 100vw;
    height: 100vh;
    background-color: lightblue;
    font-family: Tahoma, sans-serif;
}

.wordsearch-grid {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    height: 75vh;
    width: 80vw;   
}
.wordsearch-grid.easy {
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(8,1fr);
}
.wordsearch-grid.medium {
    grid-template-columns: repeat(15,1fr);
    grid-template-rows: repeat(10,1fr);
}
.wordsearch-grid.hard {
    grid-template-columns: repeat(21,1fr);
    grid-template-rows: repeat(14,1fr);
}
.answer-grid {
    position: absolute;
    display: grid;
    top: 79%;
    left: 50%;
    transform: translateX(-50%);
    height: 20vh;
    width: 90%;
    border: 1px solid black;
}
.answer-grid.easy {
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2, 1fr);
}

.answer-grid.medium {
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(2, 1fr);
}

.answer-grid.hard {
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3, 1fr);
}

.answer-image-box img {
    max-height: 8vh;
    max-width: 12vh;
}
.answer-image-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.answer-image-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--answer-text);
}
.answer-grid.medium div img {
    max-height: 6vh;
    max-width: 8vh;
}
.answer-grid.hard div img {
    max-height: 5vh;
    max-width: 6vh;
}
.grid-box {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: var(--grid-text);
}

.black {
    background-color: black;
}
/* .red {
    background-color: red;
} */
.filled {
    background-color: lightgreen;
}
.selected-image {
    background-color: blue;
}
.selected {
    background-color: blue;
}
.answer-finished {
    background-color: green;
}
span {
    height: fit-content;
    width: fit-content;
}