*, *::after, *::before {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --grid-text: clamp(0.5rem, 4vh, 2rem);
    --answer-text: clamp(0.5rem,3vh,4rem);
    --button-shadow: 1px 1px 3px 1px black;
    --set-shadow: 1px 1px 5px 3px white;
    --button-color: cadetblue;
    --button-text: clamp(1rem,5vh,4rem);
}

body {
    width: 100vw;
    height: 100vh;
    background-color: lightblue;
    font-family: Tahoma, sans-serif;
}

.setup-back-button, .setup-next-button {
    position: absolute;
    height: 8vh;
    width: 90vw;
    background-color: var(--button-color);
    box-shadow: var(--button-shadow);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--button-text);
    color: white;
}
.setup-back-button {
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
}
.setup-next-button {
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
}
.setup-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 20vh;
    width: 15vw;
    font-size: var(--button-text);
    background-color: var(--button-color);
    box-shadow: var(--button-shadow);
    border-radius: 15px;
}
.setup-button.set, .set-difficulty {
    box-shadow: var(--set-shadow);
}
.preset-game {
    top: 20%;
    left: 15%;
    width: 30vw;
}
.random-game {
    top: 20%;
    left: 55%;
    width: 30vw;
}
.difficulty-easy {
    top: 50%;
    left: 15%;
}
.difficulty-medium {
    top: 50%;
    left: 42.5%;
}
.difficulty-hard {
    top: 50%;
    left: 70%;
}
.setup-preset-topics {
    position: absolute;
    top: 15%;
    height: 40vh;
    width: 80vw;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 1em;
}
.setup-preset-numbers {
    position: absolute;
    top: 60%;
    width: 80vw;
    left: 50%;
    transform: translateX(-50%);
    height: 20vh;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 1em;
}
.preset-topic-button, .random-topic-button {
    background-color: var(--button-color);
    box-shadow: var(--button-shadow);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--button-text);
    color: white;
}
.random-topic-button {
    font-size: var(--answer-text);
}
.preset-number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--grid-text);
    color: white;
    box-shadow: var(--button-shadow);
    border-radius: 2px;
    background-color: var(--button-color);
}
.setup-random-topics {
    position: absolute;
    top: 12%;
    height: 65vh;
    width: 80vw;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6,1fr);
    gap: 1em;
}
.wordsearch-grid {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    height: 75vh;
    width: 80vw; 
    box-shadow: var(--button-shadow);
    background-color: var(--button-color);
}
.wordsearch-grid.easy {
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(8,1fr);
}
.wordsearch-grid.medium {
    grid-template-columns: repeat(15,1fr);
    grid-template-rows: repeat(10,1fr);
}
.wordsearch-grid.hard {
    grid-template-columns: repeat(21,1fr);
    grid-template-rows: repeat(14,1fr);
}
.answer-grid {
    position: absolute;
    display: grid;
    top: 79%;
    left: 50%;
    transform: translateX(-50%);
    height: 20vh;
    width: 90%;
}
.answer-grid.easy {
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2, 1fr);
}

.answer-grid.medium {
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(2, 1fr);
}

.answer-grid.hard {
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3, 1fr);
}
.answer-image-box {
    border-radius: 10px;
}
.answer-image-box img {
    max-height: 8vh;
    max-width: 12vh;
}
.answer-image-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.answer-image-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--answer-text);
}
.answer-grid.medium div img {
    max-height: 6vh;
    max-width: 8vh;
}
.answer-grid.hard div img {
    max-height: 5vh;
    max-width: 6vh;
}
.grid-box {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: var(--grid-text);
}
.wordsearch-reset, .wordsearch-back, .case-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--button-text);
    color: white;
    width: 12vh;
    height: 18vh;
    top: 1%;
    left: 93%;
    background-color: var(--button-color);
    box-shadow: 1px 1px 3px 1px darkslategrey;
}
.wordsearch-back {
    left: 1%;
}
.back-button-arrow {
    transform: rotateZ(270deg);
    width: 16vh;
    height: 8vh;
}
.case-button {
    top: 35%;
    left: 1%;
}
/* .filled {
    background-color: lightgreen;
} */
.selected-image {
    background-color: blue;
    color: white;
}
.selected {
    background-color: blue;
}
.answer-finished {
    background-color: green;
    color: white;
}
.set-topic, .set-preset {
    box-shadow: var(--set-shadow);
}
span {
    height: fit-content;
    width: fit-content;
}
.behind {
    display: none;
    z-index: -25;
}